# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# AI tools
.ai/
.claude/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
android
ios
.expo-shared/
.expo-local/
.expo-test/


# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# IDEs
.cursor/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?   
.vscode/=

# bundler
.bundle
vendor/bundle
vendor/cache
.bundle-cache
vendor/gems
dist/
tmp/
dist-*
.cache/
webpack-cache/
webpack-bundle.js
build/
build-*/
.cache-loader/
.cache/
.cache-*/
.cache-*/
.cache-*/
.cache-*/